html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(90deg, rgba(15,208,228,1) 0%, rgba(37,11,166,1) 100%);
    font-family: 'Indie Flower', cursive;
  }
  
  header,
  section,
  div {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    font-weight: 300;
    color: rgb(199, 204, 150);
    font-size: 3em;
    margin-bottom: 0;
  }
  
  /*
   * Styles for the deck of cards
   */
  
  .deck {
    width: 660px;
    min-height: 680px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
  }
  
  .deck .card {
    height: 125px;
    width: 125px;
    background: #062946;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  .deck .card.open {
    transform: rotateY(180deg);
    background: #6773df;
    cursor: default;
    pointer-events: none;
    /*remove pointer and disable double click on open card*/
  }
  
  .deck .card.show {
    font-size: 33px;
    transition: 0.4s;
  }
  
  .deck .card.match {
    cursor: default;
    background: #5acc64;
    font-size: 33px;
    pointer-events: none;
    /*remove pointer and disable opening matched cards*/
  }
  
  /*
   * Styles for the Score Panel
   */
  
  .score-panel {
    text-align: left;
    width: 80%;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #fff;
    float: left;
  }
  
  .stars {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0 5px 0 0;
  }
  
  .stars li {
    display: inline-block;
    color: yellow;
    font-size: 0.5em;
  }
  
  /*--hiding stars on moves--*/
  
  .hide i {
    display: none;
  }
  
  .restart {
    margin-top: 10px;
    padding-right: 10px;
    float: right;
    cursor: pointer;
    color: rgb(193, 204, 34);
    font-size: 1em;
  }
  
  .timer {
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    float: right;
  }
  
  .moves-done {
    font-size: 1em;
  }
  
  /*--modal window--*/
  
  #modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 20%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
  }
  
  .content {
    display: block;
    background: lightgrey url('../img/geometry2.png');
    margin: 3% auto;
    padding: 0.3em;
    width: 80%;
    color: #000;
    border: 2px solid #000;
    text-align: center;
    border-radius: 2%;
  }
  
  .button {
    background: #64ff00;
    padding: 0.8em;
    color: purple;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .close {
    color: purple;
    float: right;
    font-size: 3.7vw;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
    color: #64ff00;
    text-decoration: none;
  }
  
  h3.notification {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  p.notification {
    font-size: 1em;
  }
  
  p.star-m,
  p.time-m {
    font-size: 1em;
  }
  
  .star-m span li {
    display: inline-block;
    color: #000;
  }
  
  @media screen and (max-width: 375px) {
    .deck {
      width: 90%;
      min-height: 300px;
      padding: 3%;
    }
    .deck .card {
      height: 65px;
      width: 65px;
    }
    .deck .card.show,
    .deck .card.match {
      font-size: 25px;
    }
  }
  
  @media screen and (min-width: 378px) and (max-width: 660px) {
    .deck {
      width: 90%;
      min-height: 450px;
      padding: 3%;
    }
    .deck .card {
      height: 85px;
      width: 85px;
    }
    .deck .card.show,
    .deck .card.match {
      font-size: 30px;
    }
  }
  
  @media screen and (min-width: 200px) and (max-width: 800px) {
    #modal-window {
      left: auto;
    }
  }
